<div class="about">
  <div class="container about--container">
    <div class="section-title col-lg-4">
      <h2>About Me</h2>
    </div>
    <div class="about--content">
      <p>
        Hello! I'm Donia Alhosin, a passionate web developer with a keen eye for
        design and a knack for creating seamless user experiences. With
        expertise in React, Angular, Node.js, and WordPress, I build dynamic,
        responsive websites and eCommerce solutions. My journey in web
        development has equipped me with a strong foundation in HTML, CSS, and
        JavaScript, complemented by hands-on experience in various projects.
      </p>
      <p>
        I thrive on challenges and enjoy working on innovative projects that
        push the boundaries of web development. Whether it's developing a mini
        eCommerce site from scratch, styling complex navigation menus, or
        creating efficient backend systems with Node.js, I approach each project
        with enthusiasm and dedication.
      </p>
      <p>
        Beyond coding, I have a love for continuous learning and keeping up with
        the latest industry trends. When I'm not immersed in code, you can find
        me exploring new design tools, contributing to open-source projects, or
        simply enjoying a good book.
      </p>
      <a
        class="contact--button"
        href="https://www.linkedin.com/in/donia-alhosin-756a3b1ab/"
        target="_blank"
        ><fa-icon [icon]="faLinkedinIn" class="icon-wp"></fa-icon>
        <span> LinkedIn Account </span>
      </a>
    </div>
  </div>
</div>
