<!-- Start Navbar -->
<app-navbar></app-navbar>
<!-- End Navbar -->
<!-- Start Hero Section -->
<section class="hero-section">
  <div
    class="text-white container d-flex align-items-end justify-content-center fs-1 flex-column"
  >
    <div class="content-header">
      <h2 class="autocomplete-text">Hey , I'm <span> Donia Alhosin</span></h2>
      <h5>Front-End Developer</h5>
      <p>
        Creating innovative web solutions with expertise in React, Angular, and
        WordPress.
      </p>
      <a
        class="contact--button"
        href="../../assets/img/Donia Alhosin-CV-FS.pdf"
        download="Donia_Alhosin-CV-FS.pdf"
        ><span> Download CV</span>
        <fa-icon [icon]="faFile" class="icon-wp"></fa-icon>
      </a>
    </div>
  </div>
</section>

<!-- End HeroSection -->
